.banner{
  top: 0px;
  right: 0px;
  left:0px;
}
.BannerLogo{
  width: 25%;
  height: 25%;
  position: relative;
  top:10px;
  left: 75%;
}

.navbar {
  height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #102321;
  
}

.LogoHomePage{
  width: 130%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top:-5px;
  left: -15%;
  }
  .LogoutHomePage{
    width: 140%;
    position: relative;
    top: -3px;
    left:-50%;
    }
  .LogoHomePageDiv{
    width: 15%; 
    border-bottom: #FFFFFF;
    }
    .LogoutHomePageDiv{
      float: right;
      width: 10%;
    }
  
    li a:hover:not(.active) {
      background-color: #102321;
    }
    
    .active {
      background-color: #396c63;
    }