.myMessage {
    text-align: right;
    padding-right: 5%;
    padding-bottom: 4%;
}

.inputArea {
    height: 10%;
}
.temp{
    width: 100%;
    display: block;
    bottom:0;
    border-radius: 15px;
    flex: 2 0 0;
    min-height: 50%;
    max-height: 50%;
}
.sendButton{
    left:93%;
    margin-top: 1%;
}
.typeBox{
    background-color: transparent;
    margin-top: 1%;
    border:none;
    bottom:.25;
    left: 1.5%;
    right: 0%;
    outline-width: 0;
    color:#b5d6cf;
}

input::placeholder {
    opacity: .5;
    color: #b5d6cf;
}

.oppMessage {
    text-align: left;
    padding-left: 5%;
    color: red;
    padding-bottom: 4%;
}

.chatBox {
    background-color: #396c63;
    overflow-x: auto;
    word-wrap: break-word;
    color: #b5b8d6;
    height: 90%;
    border-radius: 2.5%;
    
}

