* {
    margin: 0 auto;
    padding: 0;
}

.chessboard {
    width: 640px;
    height: 640px;
    background-image: url('../files/greenboard.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.square {
    cursor: grab;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-square {
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}