

.gamePage {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
    background-color: #b5d6cf;  
    flex-wrap: wrap;
    margin: 1%;
    row-gap: 1vh;
    column-gap: 1vh;
}

.LargeContainer{
  order: 3;
  display: flex;
  flex-direction: column;
  background-color: rgb(77, 137, 127);
  min-width: 200px;
  border: 12px solid #4d897f;
  box-shadow: 5px 5px 2px #396c63;
  border-radius: 15px;
  flex: 1 1 0;
  align-items: stretch;
  min-height: 450px;
  align-self: stretch;
  gap: 10px;
}


.board{
    position: relative;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.PowerUps{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #396c63;
  border-radius: 2.5%;
  width: 100%;
  flex: 1 0 0;

}

.opponentHand{
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  background-color: #396c63;
  border-radius: 2.5%;
  width: 100%;
  flex: 1 0 0;
    
}

.gamePageBannerWrapper {
  position: relative;
}

.forfeitButton {
  position: absolute;
  top: 10px;
  margin: auto;
  left: 50%;
}

.howToPlayContainer {
  order: 4;
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  background-color: rgb(77, 137, 127);
  border: 12px solid #4d897f;
  box-shadow: 5px 5px 2px #396c63;
  border-radius: 15px;
  align-items: stretch;
  align-self: stretch;
  gap: 10px;
}


@media (max-width: 730px) {
  .gamePage > .LargeContainer{
    min-width: 90%;
  }

}