.promotionContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    left: 50%;
    width: 10%;
    height: 20%;
    top: 50%;
    align-self: center;
    opacity: .8;
    align-self: flex-end;
    z-index: 5;
    width: 160px;
}

.promotionPiece {
    flex: 1 0 80px;
    z-index: 6;
}