.Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:2%;

}
body {
    background-image: url('../chess/files/field.png');
    background-repeat: no-repeat;
    background-size: 100% 175%;
}

.Scroll{
    height: 400px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -200px;
  left: 4px;
  border-radius: 25px;
  background: rgb(104, 204, 241);
  border: 2px solid rgb(207, 52, 14);
  padding: 10px; 
  width: 140px;
  height: 15px;
}

.createGame{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -270px;
  width: 148px;
  height: 50px;

  color: transparent; 
  background-color: transparent; 
  border-color: transparent; 
  cursor: default;
}

.joinGame{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -305px;
  width: 148px;
  height: 50px;
  color: transparent; 
  background-color: transparent; 
  border-color: transparent; 
  cursor: default;
}


