.card {
    width: 45px;
    height: 80px;
    padding: 2px;
    margin-top: 25%;
    transition: all .2s ease-in-out;
}
/* Try to keep the dimensions the same as card above.*/
.opponentCard {
    width: 50px;
    height: 100px;
    background-image: url('../chess/files/questionMark.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
}

#title {
    font-weight: bold;
    font-size: medium;
}

#cardImage {
    margin-inline: auto;
}

#description {
    font-size: small;
}

.card:hover {
    transform: scale(1.1)
}

.hand {
    margin-left: 0%;
    display: flex;
    flex-flow: wrap row;
    background-color: #396c63;
    border-radius: 2.5%;
    border-color: black;
}

.card img {
    width: 100%;
    height: 100%;
}