.card {
    width: 50px;
    height: 100px;
    background-color: rgb(131, 130, 121);
    border-radius: 5px;
    padding: 1px;
    border: 2px solid black;
    transition: all .2s ease-in-out;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: azure;
}

#title {
    font-weight: bold;
    font-size: medium;
}

#cardImage {
    margin-inline: auto;
}

#description {
    font-size: small;
}

.card:hover {
    transform: scale(1.1)
}

.hand {
    margin-left: 0%;
    display: flex;
    flex-flow: wrap row;
    background-color: #396c63;
    border-radius: 2.5%;
    border-color: black;
}
